# {{ ansible_managed }}

[Unit]
Description={{ docker_compose_stack_name }}
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/srv/{{ docker_compose_stack_name }}
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/local/bin/docker-compose pull --quiet
ExecStart=/usr/local/bin/docker-compose up -d --remove-orphans

ExecStop=/usr/local/bin/docker-compose down

ExecReload=/usr/local/bin/docker-compose pull --quiet
ExecReload=/usr/local/bin/docker-compose up -d --remove-orphans --force-recreate

[Install]
WantedBy=multi-user.target
