# {{ ansible_managed }}

[Unit]
Description={{ docker_compose_stack_name }}
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/srv/{{ docker_compose_stack_name }}
Type=oneshot
RemainAfterExit=yes

ExecStartPre={{ docker_compose_binary }} pull --quiet
ExecStart={{ docker_compose_binary }} up -d --remove-orphans

ExecStop={{ docker_compose_binary }} down

ExecReload={{ docker_compose_binary }} pull --quiet
ExecReload={{ docker_compose_binary }} up -d --remove-orphans --force-recreate

[Install]
WantedBy=multi-user.target
